

@media only screen and (min-width : 600px) {
    h1{
        color: rgb(8, 8, 8);
        text-align: center;
    }
    
    body {
        padding-left: 50px;
        padding-right: 50px;
        border: 5px solid #01101a;
        color: rgb(8, 8, 8);
        background-color: rgba(251, 213, 163, 1);
        margin: 15px;
    }
    
    .contactos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
    .contactos div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contactos div img{
        margin: 0 auto;
    border-radius: 50%;
    }
    
    .Yo{
        
        display: flex;
        justify-content: center;
    
    }
    
    .Yo img{
        border-radius: 50%;
        width: 28rem;
    }
    
    .BienestarPsicoemocional{
        display: flex;
        justify-content: center;
    
    }
}

@media only screen and (max-width : 600px) {
    h1{
        color: rgb(8, 8, 8);
        text-align: center;
    }
    .banner-principal{
        width: 300px;
    }
    body {
        padding-left: 50px;
        padding-right: 50px;
        border: 5px solid #01101a;
        color: rgb(8, 8, 8);
        background-color: rgba(251, 213, 163, 1);
        margin: 15px;
    }
    
    .contactos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    
    .contactos div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contactos div img{
        margin: 0 auto;
    border-radius: 50%;
    }
    .contactos div p{
        text-align: center;
    }
    
    .Yo{
        
        display: flex;
        justify-content: center;
    
    }
    
    .Yo img{
        border-radius: 50%;
        width: 19rem;
    }
    
    .BienestarPsicoemocional{
        display: flex;
        justify-content: center;
    
    }
}